<div *ngIf="filterCharacter.length">
  <mat-card *ngFor="let character of filterCharacter "class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{character.cocheName}}</mat-card-title>
      <mat-card-subtitle>Modelo: {{character.cocheModel}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  [src]="character.cocheImg" [alt]="character.cocheName">
    <mat-card-content>

      <p>Potencia: {{character.cochePower}} cv</p>
      <p>Precio: {{character.cochePrice}}€</p>
      <p>Combustible: {{character.cochefuel}}</p>
      <p>Color: {{character.cocheColor}}</p>



    </mat-card-content>
    <button mat-button (click)="handleClic()" *ngIf="loginService.userRole.length === 5">Delete</button>
    <button mat-button [routerLink]="['/updatecar', filterCharacter._id]" *ngIf="loginService.userRole.length === 5">Update</button>
  </mat-card>
  </div>
