.container {
  background-color: pink;
  padding: 23px;
  @media (min-width: 768px) {
    max-width: 100%;
  }
  &_card {
    max-width: 100%;
    margin-top: 46px;
    margin-bottom: 18px;
    &-img {
      background-image: url("https://res.cloudinary.com/dz3qrv6vz/image/upload/v1723031051/coche/OIP_clwghk.jpg");
      background-size: cover;
    }
    &-title {
      color: blueviolet;
      @media (min-width: 768px) {
        font-size: 27px;
      }
      &-subtitle {
        @media (min-width: 768px) {
          font-size: 23px;
        }
      }
    }
    &-p {
      color: white;
      @media (min-width: 768px) {
        font-size: 23px;
      }
    }
  }

  &_section {
    background-color: #9db3ac;
    @media (min-width: 768px) {
    }

    &-title {
      color: blue;
      margin-top: 5px;
      margin-left: 203px;
      @media (min-width: 768px) {
        font-size: 34px;
        margin-left: 74%;
      }
    }

    &-button {
      margin-left: 36%;
      @media (min-width: 768px) {
        margin-left: 50%;
      }

      &-icondelete {
        color: red;
        @media (min-width: 768px) {
          font-size: 82px;
          height: 74px;
          width: 126px;
        }
      }
      &-iconupdate {
        color: yellow;
        @media (min-width: 768px) {
          font-size: 82px;
          height: 74px;
          width: 126px;
        }
      }
    }

  }
}

.btnupdate {
  margin-top: 57px;
}


.container2{
  width: 100%;
  height: 86%;
  background-color: pink;
  @media(min-width:768px){
   height: 91%;
  }

  &_card{
    width: 100%;
    height: 96%;
    @media(min-width:768px){
      height: 100%;
      width: 100%;
    }
    &-img{
      @media(min-width: 768px){
        height: 70%;
      }
    }
    &-body{
      margin-top: 6px;

      @media(min-width:768px){

        margin-top: 24px;
      }
    }
    &-title{
      font-size: 25px;
      color: red;
      @media(min-width:768px){
      font-size: 55px;
      }
    }
    &-button{
      font-size: 23px;
      margin-left: 24%;
      margin-top: 24px;
      @media(min-width:768px){
        margin-left: 34%;
        font-size: 34px;
      }
    }
    &-text{
      color: black;
      font-size: 22px;
      @media(min-width:768px){

        font-size: 28px;
        margin-top: 52px;
        padding: 3px
      }
    }
  }

}
