
<section class="container" *ngIf="filterCharacter.length" >

  <mat-card class="container_card example-card" appearance="outlined" *ngFor="let character of filterCharacter ">



    <mat-card-header>
      <div mat-card-avatar class="container_card-img example-header-image"></div>
      <mat-card-title class="container_card-title">{{character.cocheName}}</mat-card-title>
      <mat-card-subtitle class="container_card-title-subtitle">Modelo: {{character.cocheModel}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  [src]="character.cocheImg" [alt]="character.cocheName">
    <mat-card-content>

      <p class="container_card-p">Power: {{character.cochePower}} cv</p>
      <p class="container_card-p">Price: {{character.cochePrice}}€</p>
      <p class="container_card-p">Fuel: {{character.cochefuel}}</p>
      <p class="container_card-p">Color: {{character.cocheColor}}</p>



    </mat-card-content>

    <section class="container_section" *ngIf="loginService.userRole.length === 5">
      <div class="example-label container_section-title">Options</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container container_section-button">
            <button mat-fab aria-label="Example icon button with a delete icon"  (click)="handleClic()" *ngIf="loginService.userRole.length === 5">
              <mat-icon class="container_section-button-icondelete">delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container container_section-button">
            <button mat-fab aria-label="Example icon button with a heart icon" [routerLink]="['/updatecar', character._id]" *ngIf="loginService.userRole.length === 5">
              <mat-icon class="container_section-button-iconupdate">update</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>

  </mat-card>




  </section>
  <div class="container2" *ngIf="filterCharacter.length === 0">
    <div class="card container2_card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1723031051/coche/OIP_clwghk.jpg" class="card-img-top" alt="Vehicle not found">
      <div class="card-body">
        <h5 class="card-title">Vehicle not found</h5>
        <p class="card-text">Sorry at this time we don't have the car you are looking for visit our catalog in the link below. Thank you</p>
        <a href="/cars" class="btn btn-primary">Catalog Cars</a>
      </div>
    </div>
  </div>

<!--
  <div *ngIf="filterCharacter.length !== null">
    <p >Car no disponible</p>
  </div> -->


<!-- <div *ngIf="filterCharacter.length">
  <mat-card *ngFor="let character of filterCharacter "class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{character.cocheName}}</mat-card-title>
      <mat-card-subtitle>Modelo: {{character.cocheModel}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  [src]="character.cocheImg" [alt]="character.cocheName">
    <mat-card-content>

      <p>Potencia: {{character.cochePower}} cv</p>
      <p>Precio: {{character.cochePrice}}€</p>
      <p>Combustible: {{character.cochefuel}}</p>
      <p>Color: {{character.cocheColor}}</p>



    </mat-card-content>
    <button mat-button (click)="handleClic()" *ngIf="loginService.userRole.length === 5">Delete</button>
    <button mat-button [routerLink]="['/updatecar', filterCharacter._id]" *ngIf="loginService.userRole.length === 5">Update</button>
  </mat-card>
  </div> -->
