<!-- <section>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/cars">Cars</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</section> -->

<footer class="footer">
  <div class=" footer_wrap">
      <div class="footer_wrap-menu">
          <h5>MENÚ</h5>

          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a routerLink="/cars">Cars</a></li>


          </ul>
      </div>
      <div class="footer_wrap-location">
          <h5>¿WHERE ARE WE?</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194348.2337111628!2d-3.844350634470319!3d40.43783727575248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid!5e0!3m2!1ses-419!2ses!4v1727610937479!5m2!1ses-419!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="footer_wrap-info">
          <h5>DEVELOPED WITH</h5>
          <p>
              <img class="info-img" src="../../../assets/img-logos/mean.png" alt="Creado con Node,Express,Angular,MongoDb ">
          </p>
          <h5>OPTIMIZED FOR</h5>
          <p class="browsers">
              <a routerLink="#">
                  <img src="../../../assets/img-logos/firefox-icon.png" alt="Firefox" title="Firefox">
              </a>
              <a routerLink="#">
                  <img src="../../../assets/img-logos/chrome.png" alt="Chrome" title="Chrome">
              </a>
              <a routerLink="#">
                  <img src="../../../assets/img-logos/safari.png" alt="Safari" title="Safari">
              </a>
              <a routerLink="#">
                  <img src="../../../assets/img-logos/android.png" alt="Android" title="Android">
              </a>
              <a routerLink="#">
                  <img src="../../../assets/img-logos/ios.png" alt="apple" title="apple">
              </a>
              <a routerLink="#">
                  <img src="../../../assets/img-logos/Opera_256x256.png" alt="Opera" title="Opera">
              </a>

          </p>
          <h5>©2024 DEVELOPED BY</h5>
          <p class="autor-p">SANTIAGO CORREA VANEGAS</p>
      </div>
  </div>
</footer>
