<nav class="navbar navbar-dark bg-dark fixed-top"  *ngIf="loginService.userRole.length === 4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Offcanvas dark navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!loginService.token" routerLink="/login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginService.token" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item dropdown" *ngIf="loginService.token">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/updateprofile">Edit Profile</a></li>
              <li><a class="dropdown-item" href="/removeprofile">Delete Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><button class="dropdown-item"  *ngIf="loginService.token" mat-flat-button (click)="logout()">Logout</button></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>




<nav *ngIf="loginService.userRole.length === 4" >
<ul>
  <li><a routerLink="/">HOME</a></li>
  <li><a *ngIf="!loginService.token" routerLink="/login">Login</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/cars">Cars</a></li>
  <li *ngIf="loginService.token"><a routerLink="/profile">Profile</a></li>

</ul>
</nav>

<nav *ngIf="loginService.userRole.length === 5" >
  <ul>
    <li><a routerLink="/">HOME</a></li>
    <li><a *ngIf="!loginService.token" routerLink="/login">Login</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/cars">Cars</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/createdcars">Created cars</a></li>
    <li><a routerLink="/get-all-users">Get All Users</a></li>


  </ul>
  </nav>
<!-- <button *ngIf="loginService.token" (click)="logout()">Logout</button> -->
<button *ngIf="loginService.token" mat-flat-button (click)="logout()">Logout</button>

<!-- <mat-slide-toggle *ngIf="loginService.token" mat-flat-button (click)="logout()">lllll</mat-slide-toggle> -->

