.headerTitle{
  text-decoration: none;
  text-align: center;
  text-shadow: -2px 2px 4px #00BCD4;
  color: pink;
  font-size: 30px;
  margin-left: 40%;
  @media(min-width: 768px){
    margin-left: 46%;
    font-size: 44px;
  }
}

.headerSubtitle{
  @media(min-width:768px) {
    font-size: 30px;

  }
}
