.container {
  height: 61%;
  width: 100%;
  background-color: black;
  padding: 2px;
  @media (min-width: 768px) {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  @media(min-width:1200px){
    padding: 7px;
    height: 84vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("https://res.cloudinary.com/dz3qrv6vz/image/upload/v1725185438/coche/ygnrrfghl3rfk8ecbsav.webp");
    background-position: 496px -40px;
    background-size: 63%
  }
  &_contact {
    margin-top: 81px;
    background-image: url("https://res.cloudinary.com/dz3qrv6vz/image/upload/v1724005053/coche/qeg1z0rhtv0mzxj0lhis.webp");
    background-position: -228px -513px;
    background-size: 199px;
    @media (min-width: 768px) {
      margin-top: 18%;
      margin-bottom: 26%;

    }
    @media(min-width:1200px){
      height: 73vh;
        margin-top: 4%;
       grid-column: 1;
       padding: 15px;
    }

    &-article {
      @media (min-width: 768px) {
        font-size: 100px;
      }
      @media(min-width: 1200px){
         font-size: 3px;
      }
    }

    &-label {
      color: yellow;
      font-size: 23px;
      @media (min-width: 768px) {
        font-size: 49px;
        margin-bottom: 28px;
      }

      @media(min-width: 1200px){
        font-size: 39px;
        margin-bottom: 8px;
      }
    }
    &-button {
      &-button{
        @media (min-width: 768px) {
          font-size: 50px;
        }
      }

      @media(min-width: 1200px){
        font-size: 23px;
      }
    }
  }

  &_article{
    display: none;
    @media(min-width: 1200px){
      grid-column: 2;
      display: block;
      margin-top: 104px;
      color: red;
    }

    &-aside-Box{
      width: 85%;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3)inset;

    }

    &-a{
      display: block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    &-overlay{
      display: block;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: 0px 0px 1px #ccc;
      border: 3px solid white;
      box-shadow: 0px 0px 4px #ccc;
      background: #f4f7fe;
      position: absolute;
      padding: 5px;
      margin-left: 70px;
      margin-top: -52px;
      transform: translateX(-80%);
      opacity: 0;
      transition: all 400ms;
    }
    &-overlay:hover{
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
