<p>updated-car works!</p>

<form (ngSubmit)="handleSubmit()" [formGroup]="formGroup">
  <label for="cocheName">Car Name</label>
  <input type="text" name="cocheName" id="cocheName" formControlName="cocheName">
  <label for="cochePrice">Car Price</label>
  <input type="number" name="cochePrice" id="cochePrice" formControlName="cochePrice">
  <label for="cocheImg">File</label>
  <input type="file" (change)="getFile($event)" name="cocheImg" id="cocheImg" formControlName="cocheImg">
   <label for="cocheModel">Car Model</label>
  <input type="number" name="cocheModel" id="cocheModel" formControlName="cocheModel">
  <label for="cocheColor">Car Color</label>
  <input type="text" name="cocheColor" id="cocheColor" formControlName="cocheColor">
  <label for="cochefuel">Car Fuel</label>
  <input type="text" name="cochefuel" id="cochefuel" formControlName="cochefuel">
  <label for="cochePower">Car Power</label>
  <input type="number" name="cochePower" id="cochePower" formControlName="cochePower">

<button type="submit">ENVIAR</button>
</form>
