<section class="container" *ngIf="userList.length">
  <input type="text" class="form-control container_filter" name="filterUser" placeholder="Search User" [(ngModel)]="filterUser"/>
  <div class="card container_card" >
    <div class="card-body container_card-body " *ngFor="let user of userList | filteruser:filterUser">
      <h3 class="card-title container_card-body-title">Name:{{user.nombre}}</h3>
      <h4 class="card-subtitle mb-2 text-body-secondary container_card-body-subtitle">Id:{{user._id}}</h4>
      <p class="card-text">Address: {{user.direccion}}</p>
      <p class="card-text">LastName:{{user.apellidos}}</p>
      <p class="card-text">Email: {{user.email}}</p>
      <p class="card-text">phone: {{user.telefono}}</p>
      <p class="card-text">UserName: {{user.username}}</p>
      <p class="card-text">Role: {{user.role}}</p>

    </div>
  </div>
</section>



<!-- <input type="text" class="form-control" name="filterUser" placeholder="Search User" [(ngModel)]="filterUser"/>

<div *ngIf="userList.length">
  <h2>List Users</h2>
  <div *ngFor="let user of userList | filteruser:filterUser">
    <h3>Id:{{user._id}}</h3>
    <p>Name:{{user.nombre}}</p>
    <p>Address: {{user.direccion}}</p>
    <p>LastName:{{user.apellidos}}</p>
    <p>Email: {{user.email}}</p>
    <p>phone: {{user.telefono}}</p>
    <p>UserName: {{user.username}}</p>
    <p>Role: {{user.role}}</p>

  </div>

</div> -->
