.container {
  background-color: pink;
  height: 90%;
  padding: 21px;
  @media (min-width: 768px) {
    max-width: 100%;
    height: auto;
  }

  &_card {
    width: 100%;
    margin-top: 18%;
    margin-bottom: 26%;
    background-color: black;
    color: blueviolet;
    font-size: 18px;
    @media (min-width: 768px) {
      margin-top: 21%;
      font-size: 28px;
    }
    @media(min-width: 1200px){
      margin-top: 3%;
      font-size: 32px;
      margin-bottom: 10px;
    }

    &-title {
      background-color: gray;
      color: black;

      &-Id {
        font-size: 18px;
        color: white;
        @media (min-width: 768px) {
          font-size: 24px;
        }
      }
    }

    &-role {
      background-color: gray;
      color: black;
    }

    &-button {
      margin: 8px;
      @media (min-width: 768px) {
        font-size: 30px;
        margin: 16px;
      }
    }
  }
}
