<!--
<div>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ID: {{userDetail._id}}</mat-card-title>
      <mat-card-subtitle>Name: {{userDetail.nombre}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <p>Address: {{userDetail.direccion}}</p>
      <p>LastName:{{userDetail.apellidos}}</p>
      <p>Email: {{userDetail.email}}</p>
      <p>phone: {{userDetail.telefono}}</p>
      <p>UserName: {{userDetail.username}}</p>
      <p>Role: {{userDetail.role}}</p>

      <!-- son los enlaces para el update y delete del perfil los elimino por que los he puesto en el navbar-->
      <!-- <li><a routerLink="/updateprofile">Edit Profile</a></li>
      <li><a routerLink="/removeprofile">Delete Profile</a></li> -->



    <!-- </mat-card-content>

  </mat-card>
  </div> !-->
  <section class="container">
  <div class="card text-center container_card">
    <div class="card-header container_card-header">
      UserName: {{userDetail.username}}
    </div>
    <div class="card-body container_body">
      <h5 class="card-title">ID:{{userDetail._id}}</h5>
      <p class="card-text">Name: {{userDetail.nombre}}</p>
      <p class="card-text">LastName: {{userDetail.apellidos}}</p>
      <p class="card-text">Email: {{userDetail.email}}</p>
      <p class="card-text">Address: {{userDetail.direccion}}</p>
      <p class="card-text">Phone: {{userDetail.telefono}}</p>

      <a routerLink="/updateprofile" class="btn btn-primary">Edit Profile</a>
      <a routerLink="/removeprofile" class="btn btn-primary">Delete Profile</a>
    </div>
    <div class="card-footer text-body-secondary container_card-role">
      <p class="card-text">Role: {{userDetail.role}}</p>
    </div>
  </div>
</section>
