.container{
  background-color: pink;
  height: 86%;
  padding: 21px;
  @media(min-width: 768px){
    max-width: 100%;
  }


  &_card{
    width: 100%;
    margin-top: 18%;
    margin-bottom:26%;
    background-color:black;
    color: blueviolet;
    @media(min-width:768px){
      margin-top: 11%;
      font-size: 24px;
    }

    &-title{
      background-color: gray;
      color: black;
    }

    &-role{
      background-color:gray;
      color: black;
    }
  }

}

