.container{
  background-color: pink;
  height: 86%;
  padding: 21px;


  &_card{
    width: 100%;
    margin-top: 18%;
    margin-bottom:26%;
    background-color:black;
    color: blueviolet;
  }

}

.section{
  background-color: gray;
    color: black;
}
