
<section class="container">
<form (ngSubmit)="onSubmit()" #form="ngForm" class="container_form">
  <div  class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"  name="email" id="email" [(ngModel)]="email">
  </div>
  <label for="inputPassword5" class="form-label">Password</label>
  <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password" id="password" [(ngModel)]="password">

  <div  class="d-grid gap-2">
    <button class="btn btn-outline-dark" type="submit">Login</button>
    <button class="btn btn-outline-info" type="button"><a  [routerLink]="['/register']">Register</a></button>
  </div>
</form>
</section>

