
<section class="container">
<form (ngSubmit)="onSubmit()" #form="ngForm" class="container_form">
  <div  class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"  name="email" id="email" [(ngModel)]="email">
  </div>
  <label for="inputPassword5" class="form-label">Password</label>
  <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password" id="password" [(ngModel)]="password">

  <div  class="d-grid gap-2">
    <button class="btn btn-outline-dark container_form-button-login" type="submit">Login</button>
    <a class="container_form-a" [routerLink]="['/register']"><button class="btn btn-outline-info container_form-button" type="button"> Register</button></a>
  </div>
</form>
</section>

