<div style ="text-align: center">
  <h1>
    Lazy Loading
  </h1>
<ul>
  <li><a routerLink="/">HOME</a></li>
  <li><a routerLink="/list-cars">List Cars</a></li>
  <li><a *ngIf="!loginService.token" routerLink="/login">Login</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/cars">Cars</a></li>

</ul>
<!-- <button *ngIf="loginService.token" (click)="logout()">Logout</button> -->
<button *ngIf="loginService.token" mat-flat-button (click)="logout()">Logout</button>
<!-- <mat-slide-toggle *ngIf="loginService.token" mat-flat-button (click)="logout()">lllll</mat-slide-toggle> -->

</div>




    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>

<router-outlet></router-outlet>

