

<section class="container">
  <mat-card class="container_card example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="container_card-img example-header-image"></div>
      <mat-card-title class="container_card-title">{{characterDetail.cocheName}}</mat-card-title>
      <mat-card-subtitle class="container_card-title-subtitle">Model: {{characterDetail.cocheModel}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="container_card-image" [src]="characterDetail.cocheImg" [alt]="characterDetail.cocheName">
    <mat-card-content>

      <p class="container_card-p">Power: {{characterDetail.cochePower}} cv</p>
      <p class="container_card-p">Price: {{characterDetail.cochePrice}}€</p>
      <p class="container_card-p">Fuel: {{characterDetail.cochefuel}}</p>
      <p class="container_card-p">Color: {{characterDetail.cocheColor}}</p>



    </mat-card-content>

    <section class="container_section" *ngIf="loginService.userRole.length === 5">
      <div class="example-label container_section-title">Options</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container container_section-button">
            <button mat-fab aria-label="Example icon button with a delete icon"  (click)="handleClic()" *ngIf="loginService.userRole.length === 5">
              <mat-icon class="container_section-button-icondelete">delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container container_section-button">
            <button mat-fab aria-label="Example icon button with a heart icon" [routerLink]="['/updatecar', characterDetail._id]" *ngIf="loginService.userRole.length === 5">
              <mat-icon class="container_section-button-iconupdate">update</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>


    <!-- <button mat-button (click)="handleClic()" *ngIf="loginService.userRole.length === 5">Delete</button>

    <button mat-button [routerLink]="['/updatecar', characterDetail._id]" *ngIf="loginService.userRole.length === 5" class="btnupdate">Update</button> -->

  </mat-card>

  </section>


