.container{
  background-color: pink;
  @media(min-width: 768px){
    max-width: 100%;
  }

  &_filter{
    padding: 20px;
    @media(min-width: 768px){
      max-width: 100%;
    }

    &-input{
      width: 100%;
      margin-top: 55px;
      margin-bottom: 8px;
      @media(min-width: 768px){
       font-size: 34px;
      }
    }

    &-button{
      @media(min-width: 768px){
        max-width: 100%;
        font-size: 34px;
      }
    }
  }

  &_card{
    max-width: 100%;
    margin-bottom: 9px;
    background-color: black;

    &-image{
      background-image: url('https://res.cloudinary.com/dz3qrv6vz/image/upload/v1723031051/coche/OIP_clwghk.jpg');
      background-size: cover;
    }

    &-title{
      color: blueviolet;
      @media(min-width: 768px){
       font-size: 27px ;
      }
      &-subtitle{
        @media(min-width: 768px){
          font-size: 27px;
        }
      }
    }

    &-p{
      color: white;
      @media(min-width: 768px){
        font-size: 27px;
      }
    }
    &-buttonDetail{
      @media(min-width: 768px){
        font-size: 259%;
        margin-left: 78%
      }
    }
  }

  &_pagination{
    margin:9px 34px 19px 27px;
    @media(min-width: 768px){
      height: 80px;
      margin-top: 50px;
    }
    &-li{
      @media(min-width: 768px){
        padding: 10px;
      }
    }

    &-button{
      @media(min-width: 768px){
        font-size: 39px;
        height: 58px;
        margin-top: -19px;
      }
    }
  }
}

.page-item{
  font-size: 30px;
}
