<!-- <div *ngIf="characterList.length">
  <h3> Cars</h3>

  <div *ngFor="let character of characterList">
    <h4>{{character._id}}--{{character.cocheName}}</h4>
    <p>Modelo: {{character.cocheModel}}</p>
    <p>Potencia: {{character.cochePower}} cv</p>
    <p>Precio: {{character.cochePrice}}€</p>
    <p>Combustible: {{character.cochefuel}}</p>
    <p>Color: {{character.cocheColor}}</p>
    <img [src]="character.cocheImg" [alt]="character.cocheName" [routerLink]="['/detail-cars', character._id]" >



  </div>

</div> -->
<div *ngIf="characterList.length">
<mat-card *ngFor="let character of characterList"class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{character.cocheName}}</mat-card-title>
    <mat-card-subtitle>Modelo: {{character.cocheModel}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  [src]="character.cocheImg" [alt]="character.cocheName">
  <mat-card-content>


    <p>Combustible: {{character.cochefuel}}</p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/detail-cars', character._id]">Details</button>

  </mat-card-actions>
  
</mat-card>

</div>


<button (click)="handlePaginatior('prev')">prev</button>
<p>Page: {{currenPage}}</p>

<button (click)="handlePaginatior('next')">next</button>

