<section class="container">
  <div class="container_filter">
  <input class="form-control container_filter-input" type="text" placeholder="Search car here..." aria-label="readonly input example"  #fatherInput (keyup)="handleKeyUp(fatherInput.value)" name="filer-car"  >

  <div class="d-grid gap-2">
    <button class="btn btn-info container_filter-button" type="button" [routerLink]="['/filter-car', fatherInput.value.toUpperCase()]">Search</button>
    </div>

  <!-- <input class="filer" #fatherInput (keyup)="handleKeyUp(fatherInput.value)" class="filter" name="filer-car"  > -->
  <!-- <button class="filter-search" [routerLink]="['/filter-car', fatherInput.value.toUpperCase()]">Search</button> -->
</div>

<div *ngIf="characterList.length">
<mat-card *ngFor="let character of characterList " class="example-card container_card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image container_card-image"></div>
    <mat-card-title class="container_card-title">{{character.cocheName}}</mat-card-title>
    <mat-card-subtitle class="container_card-title-subtitle">Model: {{character.cocheModel}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  [src]="character.cocheImg" [alt]="character.cocheName">
  <mat-card-content>


    <p class="container_card-p">Fuel: {{character.cochefuel}}</p>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button [routerLink]="['/detail-cars', character._id]">Details</button> -->
    <button type="button" class="btn btn-outline-info container_card-buttonDetail" [routerLink]="['/detail-cars', character._id]">Details</button>
  </mat-card-actions>

</mat-card>

</div>
<nav  class="container_pagination" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" (click)="handlePaginatior('prev')">Previous</button>
    </li>
    <li class="page-item"><p class="page-link"> {{currenPage}}</p></li>

    <li class="page-item">
      <button class="page-link" (click)="handlePaginatior('next')">Next</button>
    </li>
  </ul>
</nav>

<!-- <button (click)="handlePaginatior('prev')">prev</button>
<p>Page: {{currenPage}}</p>

<button (click)="handlePaginatior('next')" >next</button> -->
</section>
