<div *ngIf="characterList.length">
  <h3> Cars</h3>

  <div *ngFor="let character of characterList">
    <h4>{{character._id}}--{{character.cocheName}}</h4>
    <p>Modelo: {{character.cocheModel}}</p>
    <p>Potencia: {{character.cochePower}} cv</p>
    <p>Precio: {{character.cochePrice}}€</p>
    <p>Combustible: {{character.cochefuel}}</p>
    <p>Color: {{character.cocheColor}}</p>
    <img [src]="character.cocheImg" [alt]="character.cocheName" (click)="getDetail(character._id)" [routerLink]="['/detail-cars']" >
    <a [routerLink]="['/detail-cars']">detalle</a>


  </div>

</div>

<button (click)="handlePaginatior('prev')">prev</button>
<p>Page: {{currenPage}}</p>

<button (click)="handlePaginatior('next')">next</button>
