.container{
  background-color: pink;
  @media(min-width: 768px){
    max-width: 100%;
  }


  &_filter{
    padding: 20px;
    @media(min-width: 768px){
      max-width: 100%;
    }
    @media(min-width:1200px){
    max-width: 99%;
    }

    &-input{
      width: 100%;
      margin-top: 55px;
      margin-bottom: 8px;
      @media(min-width: 768px){
       font-size: 34px;
      }
      @media(min-width: 1200px){
        font-size: 36px;
      }
    }

    &-button{
      @media(min-width: 768px){
        max-width: 100%;
        font-size: 34px;
      }
      @media(min-width: 1200px){
        transition: all 1s;
      }

      &-a{
        display: block;
        font-family: "BebasNeue";
        font-size: 40px;
        letter-spacing: 3px;
        color: #00538c;
        text-decoration: none;
        transition: all 1s;
      }
      &-a:hover{
        text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
        color: white;
      }
    }

    &-button:hover{
      background-color: #333;
      border: 10px solid #37bcf9;
      border-radius: 240px;
      box-shadow: 0px 0px 10px gray;
      animation: blink 10s infinite linear;
    }
    @keyframes blink{
      0%{
          border: 10px solid #37bcf9;
      }
      25%{
          border: 10px solid gray;
      }
      50%{
          border: 10px solid yellow;
      }
      75%{
          border: 10px solid white;
      }
      100%{
          border: 10px solid #37bcf9;
      }
  }

  }

  &_card{
    max-width: 100%;
    margin-bottom: 9px;
    background-color: black;
    @media(min-width: 1200px){
      width: 32%;
      display: inline-block;
      padding: 4px;
      margin: 7px;

    }

    &-image{
      background-image: url('https://res.cloudinary.com/dz3qrv6vz/image/upload/v1723031051/coche/OIP_clwghk.jpg');
      background-size: cover;

    }

    &-img{
      @media(min-width: 1200px){
        max-width: 100%;
        height: 50vh;
      }
    }

    &-title{
      color: blueviolet;
      @media(min-width: 768px){
       font-size: 27px ;
      }
      @media(min-width:1200px){
        font-size: 20px;
      }
      &-subtitle{
        @media(min-width: 768px){
          font-size: 15px;
        }
      }

    }

    &-p{
      color: white;
      @media(min-width: 768px){
        font-size: 27px;
      }
    }
    &-buttonDetail{
      @media(min-width: 768px){
        font-size: 259%;
        margin-left: 78%
      }
      @media(min-width: 1200px){
        margin-left: 50%;
      }
    }
  }

  &_pagination{
    margin:9px 34px 19px 27px;
    @media(min-width: 768px){
      height: 80px;
      margin-top: 50px;
    }
    &-li{
      @media(min-width: 768px){
        padding: 10px;
      }
    }

    &-button{
      @media(min-width: 768px){
        font-size: 39px;
        height: 58px;
        margin-top: -19px;
      }
    }
  }
}

.page-item{
  font-size: 30px;
}
