

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1725184082/coche/xnky9irdvd0xaycqdojx.webp" class="d-block w-100" alt="AUDI R8">
      <div class="carousel-caption d-none d-md-block">
        <h5>AUDI R8</h5>
        <p>224.900 € -- 620 CV</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1724005053/coche/qeg1z0rhtv0mzxj0lhis.webp" class="d-block w-100" alt="BUGATTI">
      <div class="carousel-caption d-none d-md-block">
        <h5>BUGATTI</h5>
        <p>2.555.666 € -- 1500 CV</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1725184340/coche/i3sjjq6lhhbxk9kqvnfw.webp" class="d-block w-100" alt="LAND ROVER RANGE ROVER EVOQUE">
      <div class="carousel-caption d-none d-md-block">
        <h5>LAND ROVER RANGE ROVER EVOQUE</h5>
        <p>52.800€ -- 240 CV</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1725185723/coche/lyusjfpblvtts58rczjq.webp" class="d-block w-100" alt="PORSCHE">
      <div class="carousel-caption d-none d-md-block">
        <h5>PORSCHE</h5>
        <p>180.709 € -- 500 CV</p>
      </div>
  </div>
  <div class="carousel-item">
    <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1716635896/coche/ljoxo45kdvenvup0y2vq.webp" class="d-block w-100" alt="FERRARI LAFERRARI">
    <div class="carousel-caption d-none d-md-block">
      <h5>FERRARI LAFERRARI</h5>
      <p>1.300.000€ -- 800 CV</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="https://res.cloudinary.com/dz3qrv6vz/image/upload/v1716635294/coche/sm1gzsueycrujbnipkxm.webp" class="d-block w-100" alt="BMW Z4">
    <div class="carousel-caption d-none d-md-block">
      <h5>BMW Z4</h5>
      <p>71.450€ -- 340 CV</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
