.container{
  width: 100%;
  height: auto;
  &_prueba{

    @media(min-width: 1024px){
      height: 60vh;
    }
  }

}


.carousel {
  margin-top: 100px;
  margin-bottom: 45px;
  @media(min-width:1024px){
    height: auto;
  }

}



@media (min-width: 320px){

    .d-md-block {
   display: block !important;
  }

}
